.borde

.margen
	.small-12.large-3.columns
		h1 Acerca de GIK
		p 
			|Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes. 
			|Ad usu sumo brute offendit, deserunt eleifend sententiae et eos, mel ei summo tantas. 
			|Duo cu perfecto corrumpit honestatis, eu vim malis aperiam oblique. 
			|Tamquam torquatos in has, appellantur comprehensam eu duo.

	.large-3.hide-for-medium-only.hide-for-small-only.columns
		h1 Últimos POSTS
		.large-2.columns	
			.borde-fecha
				h2 10
				h3 Feb
			.borde-fecha
				h2 10
				h3 Mar
		
		.large-10.columns
			.borde-post
				p Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes.
			.borde-post
				p Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes.

	.small-12.large-3.columns
		h1 Ven a visitarnos
		p Juan A. Ingres 115 A1
		p Col. Sta. María Nonoalco
		p Del. Benito Juárez
		p C.P. 03700
		p México D.F.
		p Tel: +52(55) 63866420
	
	.small-12.large-3.columns
		.large-12.columns
			h1 Redes sociales
			ul 
				li
					a(href="https://www.facebook.com/gikmx?fref=ts", target="_blank")
						img(src="static/img/RS-FB-footer.svg")
				li
					a(href="https://twitter.com/gikmx?lang=en", target="_blank")
						img(src="static/img/RS-Twitter-footer.svg")
				li
					a(href="https://plus.google.com/u/0/117646536557361061086/about", target="_blank")
						img(src="static/img/RS-gPlus-footer.svg")
				li
					a(href="https://www.youtube.com/user/gikmx", target="_blank")
						img(src="static/img/RS-YT-footer.svg")
				li
					a(href="#", target="_blank")
						img(src="static/img/RS-LinkedIn-footer.svg")

		.large-12.hide-for-medium-only.hide-for-small-only.columns
			h1 Etiquetas
			table(summary="Tabla") 
				tr
					th(scope='col') tecnología
					th(scope='col') tecnología
				tr
					th(scope='col')	tecnología
					th(scope='col') tecnología

