.borde

.margen
	.large-3.columns
		h1 Acerca de GIK
		p 
			|Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes. 
			|Ad usu sumo brute offendit, deserunt eleifend sententiae et eos, mel ei summo tantas. 
			|Duo cu perfecto corrumpit honestatis, eu vim malis aperiam oblique. 
			|Tamquam torquatos in has, appellantur comprehensam eu duo.

	.large-3.columns
		h1 Últimos POSTS
		.large-2.columns	
			.borde-fecha
				h2 10
				h3 Feb
			.borde-fecha
				h2 10
				h3 Mar
		
		.large-10.columns
			.borde-post
				p Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes.
			.borde-post
				p Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes.

	.large-3.columns
		h1 Ven a visitarnos
		p Lorem ipsum dolor sit amet, mea iusto omnium ea, ea regione percipitur vim, no pri magna porro nonumes.
	
	.large-3.columns
		.large-12.columns
			h1 Redes sociales
			.large-3.columns
				img(src="static/img/portada.png")
			.large-3.columns
				img(src="static/img/portada.png")
			.large-3.columns
				img(src="static/img/portada.png")
			.large-3.columns
				img(src="static/img/portada.png")
			&nbsp;
		.large-12.columns
			h1 Etiquetas
			table(summary="Tabla") 
				tr
					th(scope='col') tecnología
					th(scope='col') tecnología
				tr
					th(scope='col')	tecnología
					th(scope='col') tecnología

