.barra(data-magellan-expedition='fixed', style='') 
	nav.top-bar.menu(role='navigation',data-options='sticky_on: large', data-topbar)
		ul.title-area
			li.name
				h1
					a(href=ﬁ.bundles['home']): span &nbsp;
			li.toggle-topbar.menu-icon
				a(href='#')
		section.top-bar-section.menu
			ul.left
				li
					a(href=ﬁ.bundles['Quienes']): span ¿Quiénes somos?
				li
					a(href=ﬁ.bundles['Servicios']): span Servicios

				li
					a(href=ﬁ.bundles['Portafolio']): span Portafolio

				li
					a(href=ﬁ.bundles['Blog']): span Blog

				li.has-dropdown
					a(href=ﬁ.bundles['Contacto']): span Contacto 

					ul.dropdown
						li
							a(href='#') link1
						li
							a(href='#') link2

		section.top-bar-section
			ul.right

				li
					a.red(class="icon-RS-FB-header1",href='#')
				li
					a.red(class="icon-RS-Twitter-header1",href='#')
				li
					a.red(class="icon-RS-YT-header1",href='#')
				li
					a.red(class="icon-RS-Search-header1",href='#')
				li
					a.red(class="",href='#')
	.barr
		img(src="static/img/logop.png", alt="gik")
