.caja.video
		video(autoplay="",loop="")
			source(src="/static/img/Loop.webm", type="video/webm")
			source(src="/static/img/Loop.mp4", type="video/mp4")
			source(src="/static/img/Loop.ogg", type="video/ogg")
