//-.video
	iframe(width="640" height="360" type="video/webm" src="/static/img/Loop.webm" frameborder="0" scrolling=yes)
		source(src="/static/img/Loop.webm", type="video/webm")
		source(src="/static/img/Loop.mp4", type="video/mp4")
		source(src="/static/img/Loop.ogg", type="video/ogg")


video(autoplay="", loop="")
	source(src="/static/img/Loop.webm", type="video/webm")
	source(src="/static/img/Loop.mp4", type="video/mp4")
	source(src="/static/img/Loop.ogg", type="video/ogg")