- var items = [];
- items.push({ class:'nosotros'  , href:'#nosotros'   , value: '¿somos GIK?' });
- items.push({ class:'servicios' , href:'#servicios'  , value: 'Servicios'           });
- items.push({ class:'portafolio', href:'#portafolio' , value: 'Portafolio'          });
- items.push({ class:'blog'      , href:'#blog'       , value: 'blog'                });

#header-cover
	video(controls=false autoplay=true loop)
		source(src= $HREF_MEDIA + 'gik-intro.webm' type='video/webm')
		source(src= $HREF_MEDIA + 'gik-intro.mp4'  type='video/mp4')

nav#header-menu.sticky
	.logo
	.menu

		input.menu-button(type='checkbox' id='header-menu-button')
		label.menu-button(for='header-menu-button' role='button' aria-labelledby="menu") MENU

		.menu-content

			ul.menu-items: for item in items
				li(class='menu-item-' + item.class)
					a(href=item.href)= item.value

			include ../common/social-bar/view
