@import 'common/logo-bg/view'
@import 'common/sticky-nav/view'
@import 'common/social-bar/view'

// @import '../common/social-bar/'

$header-size   = 2.5rem
$header-social = { 'cf':4, 'fb':5, 'gp':6, 'in':9, 'pn':11, 'yt':13, 'tw':15 }

$header-font =
	{$font-secondary-bold}
	font-size        : 0.9rem
	line-height      : $header-size
	text-transform   : uppercase
	color            : $color-light
	background-color : $color-primary
	&:hover
		color: $color-light-brightest

nav#header-menu
	display         : flex
	flex-flow       : row wrap
	justify-content : flex-start

	.logo
		order   : 1
		display : block
		$logo-bg($header-size * 1.29, $color-primary, url('/static/img/gik-logo.svg'))

	.menu
		// As a flex-child
		order     : 2
		flex-grow : 1
		// As a flex-parent
		display         : flex
		flex-flow       : row wrap
		justify-content : flex-end

		.menu-main
		.menu-social
			display    : flex
			margin     : 0
			padding    : 0

		li
			position   : relative
			flex-grow  : 1
			background : $color-primary

		li, a
			display         : block
			height          : $header-size
			line-height     : $header-size
			text-align      : center
			text-decoration : none

		.menu-main
			order         : 1
			flex-grow     : 1
			align-content : space-around

			a
				{$header-font}
				position       : relative
				display        : inline-block
				vertical-align : top
				padding        : 0 1rem

				&:before
					content  : " "
					display  : block
					height   : 0.25rem
					width    : 100%
					top      : 0
					left     : 0
					position : absolute

				&:hover:before
					background-color : $color-secondary

		.menu-social
			order : 2
			$social-bar($header-size, 0.25rem)

