nav#header-menu
	.logo
	.menu
		ul.menu-main
			li: a(href="#") ¿Porqué somos GIKs?
			li: a(href="#") Servicios
			li: a(href="#") Portafolio
			li: a(href="#") Blog

		include ../common/social-bar/view
