@import 'common/social-bar/view'


$header-size   = 3rem

$header-font =
	{$font-2nd-bold}
	font-size       : 1rem
	line-height     : $header-size
	text-transform  : uppercase
	text-decoration : none

&
	position : relative

#header-cover
	z-index             : 0
	position            : relative
	overflow            : hidden
	height              : 100vh // CSS3 unit, for viewport height.
	text-align          : center
	background-image    : url($HREF_MEDIA + 'gik-intro.gif')
	background-repeat   : no-repeat
	background-position : center center
	background-size     : 100% auto

	+from-width('normal')
		background-image:none

	video
		display:none

		+from-width('normal')
			position  : fixed
			display   : block
			top       : 50%
			left      : 50%
			transform : translate(-50%, -50%)
			height    : 100%
			width     : auto
			margin    : 0
			padding   : 0

		// we use a fixed dimension here because the video ratio
		// is only affecting after that size.
		+from-width(1700px)
			top       : 0
			left      : 0
			transform : translate(0,0)
			height    : auto
			width     : 100%

nav#header-menu
	z-index: 1
	// required for position fixed when in 'sticky mode'
	position        : relative
	width           : 100%
	display         : flex
	flex-flow       : row nowrap
	justify-content : space-between

	.logo
		position: relative
		display    : block
		order      : 1
		flex-grow  : 0

		&:after
			z-index                    : 0
			position                   : absolute
			display                    : block
			content                    : " "
			left                       : -11.5%
			top                        : 0
			width                      : 70%
			height                     : ($header-size + 0.33rem)
			border-bottom-right-radius : 50%
			border-bottom-left-radius  : 50%
			background-color           : $color-1st

		object
			z-index  : 99
			display  : block
			position : relative
			height   : ($header-size - 0.33rem)
			width    : auto
			margin   : 0.33rem

	.menu
		// As a flex-child
		order     : 2
		flex-grow : 1
		// As a flex-parent
		display         : flex
		flex-flow       : row nowrap
		justify-content : flex-end

		&:before // Bar behind menu that fills 100% width
			z-index    : -1
			background : $color-1st
			height     : $header-size
			content    : ' '
			display    : block
			position   : absolute
			width      : 100%
			top        : 0
			left       : 0
			right      : 0
			bottom     : 0

		.menu-button
		.menu-content
			position : relative
			display  : block

		.menu-button
			+from-width('normal')
				display:none

		label.menu-button
			text-align       : center
			overflow         : hidden
			text-indent      : -22em
			height           : $header-size
			line-height      : $header-size
			width            : $header-size

			&:after
				display    : block
				position   : absolute
				content    : ""
				width      : 50%
				height     : 50%
				top        : 25%
				left       : 25%
				// hamburguer menu icon.
				background : linear-gradient(
					to bottom,
					$color-white, $color-white 20%,
					transparent 20%, transparent 40%,
					$color-white 40%, $color-white 60%,
					transparent 60%, transparent 80%,
					$color-white 80%, $color-white 100%
				)

		input.menu-button
			position : absolute
			opacity  : 0

			&:checked ~ label.menu-button
				background: $color-1st-darker

			&:checked ~ .menu-content
				width      : auto
				overflow   : visible

		.menu-content
			display         : flex
			flex-grow       : 0
			flex-flow       : column nowrap
			justify-content : space-between
			// off-canvas
			width      : 0
			overflow   : hidden

			+from-width('normal')
				flex-grow : 1
				flex-flow : row nowrap
				// off-canvas
				width     : auto
				overflow  : visible

			.menu-social
				order                     : 2
				flex-grow                 : 0
				background-color          : $color-1st
				border-bottom             : 0.5rem solid $color-1st
				border-bottom-left-radius : 1.4rem
				$social-bar($header-size, 0.5rem)

				+from-width('normal')
					border: none
					background-color: transparent

			.menu-items
				order     : 1
				flex-grow : 0
				display   : flex
				flex-flow : column nowrap
				margin    : 0
				padding   : 0

				+from-width('normal')
					flex-grow : 1
					flex-flow : row nowrap

				+from-width('large')
					flex-grow : 0

				li, a
					position    : relative
					height      : $header-size
					line-height : $header-size

				li
					display          : block
					flex-grow        : 0
					background-color : $color-1st

					+from-width('normal')
						flex-grow: 1

				a
					{$header-font}
					z-index : 9
					display : block
					padding : 0 1rem
					margin  : 0 0
					cursor  : pointer
					color   : $color-white

					+from-width('normal')
						display : inline-block
						margin  : 0 1rem

					&:before
						z-index          : -1
						position         : absolute
						display          : block
						content          : " "
						width            : 0.25rem
						height           : 100%
						right            : 0
						top              : 0
						background-color : transparent
						transition       : all 0.75s ease-in-out-back

						+from-width('normal')
							height : 0.25rem
							width  : 100%
							top    : 0
							left   : 0
							right  : auto

					&:hover
						color: $color-white-brightest

						&:before // A line that serves as indicator of hovering.
							background-color : $color-2nd
							width: 100%

							+from-width('normal')
								height: 100%
