nav#header-menu
	.logo
	.menu
		ul.menu-main
			li: a(href="#") ¿Porqué somos GIKs?
			li: a(href="#") Servicios
			li: a(href="#") Portafolio
			li: a(href="#") Blog

		ul.menu-social
			li.menu-social-cf: a(href="#") ¿Interesado? ¡contáctanos!
			li.menu-social-fb: a(href="#") ¡Se nuestro fan en Facebook!
			li.menu-social-gp: a(href="#") ¡Súmate en google plus!
			li.menu-social-in: a(href="#") ¡Hagamos networking en Linkedin!
			li.menu-social-pn: a(href="#") ¡Descubrenos en Pinterest!
			li.menu-social-yt: a(href="#") ¡Suscríbete a nuestro canal en YouTube!
			li.menu-social-tw: a(href="#") ¡Siguenos en Twitter!
			//- li: a(href="#"): span El que busca… ¡encuentra!


p Hola Mariela, soy la fuenta Khula.