&
	position   : relative
	background : gris
	overflow   : hidden
	bottom 	   : -100px
	border-top: solid 3px turquesa
	height     : 307px
	

	h4
		color        : turquesa !important
	
	.borde
		border-bottom: solid 3px turquesa
		height       : 20px
	
	.margen
		margin-top   : 60px
		text-align   : center
		