&
	position   : relative
	background : gris
	overflow   : hidden
	bottom 	   : -100px
	border-top: solid 4px turquesa
	height     : 307px
	

	h4
		color        : turquesa 
		text-transform uppercase 
	
	.borde
		border-bottom: solid 4px turquesa
		height       : 20px
	
	.margen
		margin-top   : 60px
		text-align   : center
		