&
	position   : relative
	background : gris
	overflow   : hidden
	bottom 	   : -100px
	border-top: solid 4px turquesa
	height     : auto
	

	h1
		color          : turquesa 
		text-transform : uppercase
		font-size      : 20px
		font-weight    : 700

	h2,h3,h4,p
		color        : blanco
	h2
		font-size    : 16px

	h3
		font-size    : 14px
		text-transform : uppercase
		

	p
		font-size       : 11px
		text-align      : center
		margin          : 0px 20px 0 20px
		padding-bottom  : 5px

	.borde
		border-bottom: solid 4px turquesa
		height       : 15px
	
	.margen
		margin-top   : 3em
		text-align   : center

	.borde-fecha
		border       : solid 2px blanco
		margin-top   : 10px

	.borde-post	
		border-bottom: 2px solid rgba(0, 0, 0, .5);
		margin-top   : 20px

	table 
		width: 100%
		border-spacing: 5px
		border: 0
		background: gris

	th,tr 
		border: 2px solid blanco
		background: gris
		color: blanco
	
	li 
		display: inline-block
		width   : 10% !important


		
@media only screen and (max-device-width: 500px)

	.gridmenu 
		width: 250%
		p 
			text-align : justify

	.gridmain
		width: 250%

	.gridright
		width: 250%
		li
			width   : 15% !important

	.gridbox
		margin-left: 60px
		float: left

	h1
		font-size      : 50px
	p 
		font-size      : 15px


