@font-face {
  font-family: 'icomoon';
  src:url('/static/fonts/icomoon.eot');
  src:url('/static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/icomoon.woff') format('woff'),
      url('/static/fonts/icomoon.ttf') format('truetype'),
      url('/static/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-RS-FB-header1:before
.icon-RS-Search-header1:before 
.icon-RS-Twitter-header1:before
.icon-RS-YT-header1:before  {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 2.8em
  vertical-align: middle;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RS-FB-header1:before { content: "\e600"; }
.icon-RS-Search-header1:before { content: "\e601"; }
.icon-RS-Twitter-header1:before { content: "\e602"; }
.icon-RS-YT-header1:before { content: "\e603"; }






