.barra
	padding 0 !important
.circle
	background gris
	border-radius 50%
	display inline-block
	height 150px
	left 13px
	padding 1em
	position absolute !important
	top -23px
	width 150px

	& img
		left 10px
		position relative
		top 13px
		width 100px

.contenedor
	position relative

.menu 
	background gris !important
	
	& ul
		background gris !important
		& li
			color blanco !important
			background gris !important
			& a
				text-transform uppercase !important
				background gris !important
			
				&:hover
					background coral !important
			

		

.search-bar
	border-radius 10px
	margin 22px !important
	width 15%

.icon-lupa:before {
	content: "\e600" !important;
}

.icon-google-plus3:before {
	content: "\ea8a" !important;
}

.icon-facebook3:before {
	content: "\ea8e" !important;
}

.icon-twitter3:before {
	content: "\ea93" !important;
}

.icon-youtube:before {
	content: "\ea97" !important;
}

	
	