.top-bar
	background gris !important
	height 77px
	
		
	
	& li a
		padding 31px 40px 21px 40px !important
		color blanco !important
		display inline-block
		text-transform uppercase !important

	
	& li:hover
		background coral !important


input
	border-radius 10px
	margin 22px !important
	
.circle
	display inline-block
	border-radius 50%
	background gris
	position relative !important
	width 150px
	height 150px
	padding 1em
	top -23px
	left 13px

img
	position relative
	top 13px
	left 10px
	width 100px
	