.top-bar
	background gris !important
	height 77px
	
	& li a
		padding 31px 40px 21px 40px !important
		color blanco !important
		display inline-block

	
	& li:hover
		background coral !important


input
	border-radius 10px
	margin 22px !important
	
.circle
	display inline-block
	border-radius 50%
	background gris
	position relative !important
	width 100%
	padding 1em
	top -23px
	left -14px
	