video  
	margin-bottom:-2px
	height:auto 

@media screen and (max-width:480px)
	video
		width:100% 
		max-width:500px
		
		
@media screen and (min-width:481px) and (max-width:680px)
	video
		width:100% 
		max-width:680px
		 
		

@media screen and (min-width:681px) and (max-width:768px)
	video
		width:100% 
		max-width:768px
		
		
@media screen and (min-width:769px) and (max-width:1024px)
	video
		width:100% 
		max-width:1024px


/*
.homepage-hero
	background-image  : url(/static/img/portada.png)
	background-repeat : round
	height            : 650px
	text-align        : left
	position          : relative
	padding          : 100px 20px 0 20px
	opacity   : .7

.contenedor
	letter-spacing: .5em
	text-align    : center
	& h1
		color       : #444444   !important
		font-size   : 5em
