.homepage-hero
		background-image  : url(/static/img/portada.png)
		background-repeat : round;
		height            : 650px;
		text-align        : left;
		position          : relative;
		padding           : 100px 20px 0 20px;
		opacity 		  : .7;

.contenedor
	letter-spacing: .5em
	text-align     : center;
	& h1
		color      : #444444 !important;
		font-size  : 5em;
		font-weight: normal;
	

.caja
	width		: 50%
	height		: auto
	margin		: 0
	padding		: 0
	margin-bottom: -2px
	
	