$social-bar-order = {
	'android'		: 1,
	'apple'			: 2,
	'appstore'		: 3,
	'email'			: 4,
	'facebook'		: 5,
	'google'		: 6,
	'html5'			: 7,
	'instagram'		: 8,
	'linkedin'		: 9,
	'paypal'		: 10,
	'pinterest'		: 11,
	'playstore'		: 12,
	'youtube'		: 13,
	'rss'			: 14,
	'twitter'		: 15,
	'vimeo'			: 16,
	'youtube-full'	: 17
}

// size must be in rem
$social-bar($size, $icon-space)

	$icon-size  = $size - ($icon-space * 2)

	display   : flex
	flex-flow : row nowrap
	margin    : 0
	padding   : 0

	li, a
		position : relative
		display  : block
	a
		overflow            : hidden
		text-indent         : -22rem
		width               : $icon-size
		height              : $icon-size
		line-height         : $icon-size
		border-radius       : $icon-size
		margin              : $icon-space $icon-space 0 0
		background-image    : url($HREF_MEDIA + 'gik-social.svg')
		background-repeat   : no-repeat
		background-size     : ($icon-size * 2) auto
		background-position : 0 0
		// http://axis.netlify.com/#easing
		transition : transform 0.2s ease-in-out-back, border-radius 0.2s ease-in-out-back

		&:hover
			border-radius: 0.25rem

	li:first-child a
		margin-left: $icon-space

	li:nth-child(odd) a
		// http://axis.netlify.com/#hover-pop
		hover-pop: 2 7deg false

	li:nth-child(even) a
		hover-pop: 2 -7deg false

	for $name, $order in $social-bar-order
		$x = -1 * $icon-size
		$y = -1 * ($order - 1) * $icon-size

		li.menu-social-{$name} a
			background-position: 0 $y

			&:hover
				background-position: $x $y