ul.menu-social
	li.menu-social-email:    a(href="https://plus.google.com/u/0/109296914157955309495/about" target="_blank") ¿Interesado? ¡contáctanos!
	li.menu-social-facebook: a(href="https://www.facebook.com/gikmx" target="_blank") ¡Se nuestro fan en Facebook!
	li.menu-social-twitter:  a(href="https://twitter.com/gikmx" target="_blank")¡Siguenos en Twitter!
	li.menu-social-linkedin: a(href="	https://www.linkedin.com/company/2594019?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2594019%2Cidx%3A2-1-8%2CtarId%3A1441231286291%2Ctas%3Agik" target="_blank") ¡Hagamos networking en Linkedin!
	li.menu-social-youtube:  a(href="#") ¡Suscríbete a nuestro canal en YouTube!
	//- li.menu-social-gp: a(href="#") ¡Súmate en google plus!
	//- li.menu-social-pn: a(href="#") ¡Descubrenos en Pinterest!
	//- li: a(href="#"): span El que busca… ¡encuentra!
