#nosotros
	.col1
		.img-box
			img(src="../static/img/movil.png", alt="")
		.text
			p
				| Desarrollo de Apps
	.col2
		.img-box
			img(src="../static/img/social.png", alt="")
		.text
			p
				| Social Media
	.col3
	.col4
	.col5
	.col6
		.img-box
			img(src="../static/img/devices.png", alt="")
		.text
			p
				| Desarrollo de  <br> sitios Web
#servicios
#portafolio
#blog




