#main
	.content
		#servicios
			.col1
				.layer
					p
						| Las aplicaciones responden a nuestra necesidad específica de tener todo
						| disponible a sólo un clic de distancia. En Gik desarrollamos aplicaciones
						| móviles para iOS, Android, y Microsoft, a demás de su versión en computadora
				.img-box
					img(src="../static/img/movil.svg", width='0', height='140')
				.text
					p
						| Desarrollo de Apps
			.col2
				.layer
					p
						| Te ayudamos a conservar tus redes sociales actualizadas,
						| con contenido que genere valor, atender y mantener involucrada a la
						| comunidad


				.img-box
					img(src="../static/img/social.svg", width='0', height='140')
				.text
					p
						| Social Media
			.col3

				.layer
					p
						| No basta con estar presente en las redes sociales; se necesita la
						| implementación de una estrategia que te dé los resultados que buscas.

				.img-box
					img(src="../static/img/chart.svg", width='0', height='140')
				.text
					p
						| Marketing
			.col4
				.layer
					p
						| Diseñamos e implementamos soluciones de infraestructura en la nube con
						| Amazon y Windows Azure.

				.img-box
					img(src="../static/img/cloud.svg", width='0', height='133')
				.text
					p
						| Servicios en la nube
			.col5
				.layer
					p
						| Sin importar el proyecto podemos encontrar cuál es la mejor
						| solución tecnológica para resolver su necesidad o crearemos la solución que
						| tanto estaba buscando.

				.img-box
					img(src="../static/img/medida.svg", width='0', height='140')
				.text
					p
						| Soluciones a la medida
			.col6
				.layer
					p
						| Hacemos sitios web que se adaptan a la resolución de cualquier dispositivo
						| cuidadndo siempre su proporción mostrándose de manera adecuada
						| e intuitiva
				.img-box
					img(src="../static/img/devices.svg", width='0', height='140')
				.text
					p
						| Desarrollo de  <br> sitios Web
		#nosotros


		#portafolio

		#blog
			.form
				.label
					p
						|Contáctanos

				.contener
					form(action='/enviar', method='post')
						.data
							.contener1
								input(type='text', title="Se necesita un nombre", name='asunto', id='asunto', placeholder="Nombre", required)

							.contener2
								input(type='text', title="Se necesita un mensaje", name='email', id='email' placeholder="e-mail", required)

						.box-message
							input(type='text', title="Se necesita un email", name='texto', id='texto', placeholder="En qué podemos ayudarte?", required)

						.box-submit
							input(type='submit' value='ENVIAR' id='boton')

							img(src="../static/img/youtube.svg")
							img(src="../static/img/fb.svg")
							img(src="../static/img/twitter.svg")
							img(src="../static/img/linkedin.svg")
							img(src="../static/img/g.svg")
