.content
	#servicios
		.col1
			.img-box
				img(src="../static/img/movil.png", alt="")
			.text
				p
					| Desarrollo de Apps
		.col2
			.img-box
				img(src="../static/img/social.png", alt="")
			.text
				p
					| Social Media
		.col3
			.img-box
				img(src="../static/img/chart.png", alt="")
			.text
				p
					| SEO
		.col4
			.img-box
				img(src="../static/img/cloud.png", alt="")
			.text
				p
					| Servicios en la nube
		.col5
			.img-box
				img(src="../static/img/medida.png", alt="")
			.text
				p
					| Soluciones a la medida
		.col6
			.img-box
				img(src="../static/img/devices.png", alt="")
			.text
				p
					| Desarrollo de  <br> sitios Web
	#nosotros


	#portafolio

	#blog
		.form
			.label
				p
					|Contactanos

			.contener
				.contener1
					input(type='text', name='nombre' placeholder="Nombre")
				.contener2
					input(type='text', e-mail='e-mail' placeholder="e-mail")
				.box-message
					input(type='text', mensaje='mensaje' placeholder="En que podemos ayudarte")
				.box-submit
					input(type='submit' value='ENVIAR' id='boton')

	//- #footer
	//- 	.foot
	//- 		.about
	//- 			p Acerca de GIK
	//- 		.visit
	//- 			p Visítanos
	//- 		.post
	//- 			p Ùltimos posts
	//- 		.sociales
	//- 			img(src="../static/img/medida.png", alt="")

