*
	box-sizing : border-box

#nosotros
	max-width : 1024px
	margin : 0 auto

	.col1
		span(6/12)
		background : #00a300
		hover-lighten 5%
		hover-pop() 5
		height : 10vw
		border: 4px solid white
		position : relative
		.img-box
			position : absolute
			img
				width : 95%
				margin-top : 1em
		.text
			right : 0
			position : absolute
		p

			font-size: 2vw;


	.col2
		span(6/12)
		background-color : #00aba9
		hover-lighten 5%
		hover-pop()
		height : 10vw
		border: 4px solid white
		position : relative
		.img-box
			position : absolute
			img
				width : 90%
				margin-top 5px

		.text
			right : 0
			position : absolute
			p

				font-size: 2vw
				margin-top : 28%

	.col3
		span(3/12)
		background-color : #2d89ef
		hover-darken 50%
		hover-pop()
		height : 10vw
		border: 4px solid white

	.col4
		span(3/12)
		background-color : #ffc40d
		hover-darken 50%
		height : 10vw
		border: 4px solid white;

	.col5
		span(6/12)
		background-color : #ee1111
		hover-darken 50%
		height : 10vw
		border: 4px solid white

	.col6
		span(12/12)
		hover-lighten 5%
		hover-pop()
		background-color : #9f00a7
		position : relative
		border: 4px solid white;
		.img-box
			padding-top : 1.5em






.img-box
	span(6/12)
	position : relative
	text-align : center
	img
		width : 76%



.text
	span(6/12)
	position : relative

	p
		text-align: center;
		color: white;
		font-weight: 900;
		font-size: 3vw;
		line-height: normal;
		margin-right: 0;
		position : relative


