#servicios
	img(src="http://i.ytimg.com/vi/NB2c5GW49XE/maxresdefault.jpg", alt="")


#portafolio
	img(src="http://k01.kn3.net/DCF5B185C.jpg", alt="")


#blog
	img(src="http://4.bp.blogspot.com/-uWl6aUBIsYs/UCMVcqBedWI/AAAAAAAACAw/aJd-lBNehm4/s1600/paisajes-bonitos.jpg", alt="")



#nosotros
	img(src="http://www.arqhys.com/wp-content/fotos/2012/08/Paisajes-playas.jpg", alt="")