section#gik(data-bg='{"width":1920,"height":1200}', data-magellan-destination="gik", style="background-image:url('/static/bg/one.jpeg')")
	article
		.row: .large-12.columns.text-center
			img(src="/static/logo.png", style="height:250px")

		div(data-magellan-expedition='fixed')
			.large-8.columns.text-center.large-centered: dl.sub-nav.right
				dd(data-magellan-arrival="gik"): a(href="#gik") Home
				dd(data-magellan-arrival="about-us"): a(href="#about-us") About us
				dd(data-magellan-arrival="what-we-do"): a(href="#what-we-do") What we do
				dd(data-magellan-arrival="value-proposition"): a(href="#value-proposition") Value proposition
				dd(data-magellan-arrival="manifesto"): a(href="#manifesto") Manifesto

section#about-us(data-bg='{"width":1920,"height":1200}', data-magellan-destination="about-us", style="background-image:url('/static/bg/two.jpeg')")
	article: .row: .large-12.columns
		img.left.show-for-medium-up.no-bottom(src="//placehold.it/300x380")
		h2.huge About us.
		p We’re not just a web design agency or a mobile app development company. We’re not just developers, or geeks, or artists. We’re a collective of specialists who help companies get better solutions through innovation and technology since 1994. We’re focused on the whole user experience (UX), in digital media, so that it can turn out to be the most magical experience it could possibly be. We make it happen! We achieve this by going the extra mile and applying the latest technologies in the market to each project to make it unique and innovative; this is where the whole difference lies in! Keep in mind that users and customers remember the good and bad experiences they have, and they will share them; so let’s give them something useful, nice and intuitive that will create a good impression.
		p Let us show you how we can bring the magic to your business as well!


section#what-we-do(data-bg='{"width":1920,"height":1200}', data-magellan-destination="what-we-do", style="background-image:url('/static/bg/three.jpeg')")
	article: .row: .large-12.columns
		img.right.show-for-medium-up.no-bottom(src="//placehold.it/300x300")
		h2.huge What we do.
		p What we do goes beyond a responsive web design or a multiplatform mobile app, all that is immersed and transparent from the background to the screen. Don’t worry about what technology we use for the solution we will provide you, for it is our commitment to put all our expertise on your project in order to get the best magical results. We save you the time and tech explanations so that you can focus on what really matters: the user experience. Everything makes sense now! But don’t get us wrong, “magical results” are not a matter of luck; a lot of hard work and years of experience are what make this seem to run so smoothly. When something is well done, it always seems so easy to catch ;)


section#value-proposition(data-bg='{"width":1920,"height":1200}', data-magellan-destination="value-proposition", style="background-image:url('/static/bg/four.jpeg')")
	article: .row: .large-12.columns
		img.left.show-for-medium-up.no-bottom(src="//placehold.it/300x300")
		h2.huge Value proposition.
		p Our value proposition focuses on the new level and holistic solutions we provide. Since we are focusing on the end user/customer, it creates a positive, deep and loyal relationship that will last over time; giving you endless opportunities to take advantage of, depending on your business. This is more than a competitive advantage. This is the new approach and perspective of innovative tech development. So you can expect an integral solution, user/costumer-oriented to your project, and why not? maybe also to a need you may not even know it was there!


section#manifesto(data-bg='{"width":1920,"height":1200}', data-magellan-destination="manifesto", style="background-image:url('/static/bg/five.jpeg')")
	article: .row: .large-12.columns
		img.right.show-for-medium-up.no-bottom(src="//placehold.it/300x600")
		h2.huge Manifesto.
		p Want to know about our intentions, motives and philosophy?
		ol
			li
				h5.subheader We are sure that the user experience (UX) has the power to change the world.
				p In fact it is already happening,and we are contributing by helping people applying customer-centric design practices to their everyday’s work.

			li
				h5.subheader Collective means richer.
				p Sharing an idea with the team helps to nurture and enhance it, so it can become the very best version of it. This enriched version of the idea, will make a difference when implemented.

			li
				h5.subheader Never settle. Always ask why.
				p An old and effective technique suggests to ask “why” 5 times. This helps getting to the roots of the problem, challenging the team to go further and think about big problems from different and fresh perspectives.

			li
				h5.subheader Know no boundaries.
				p We are a company based in Mexico, but we know that living in this technological era allows us to expand our vision, limits and boundaries.
