//- .about
//- 	p Acerca de GIK
//- 	<br> </br>
//- 	span Más que desarrolladores, diseñadores, estrategas o
//- 		| artistas, somos especialistas en tecnología y
//- 		| marketing enfocados en proporcionar soluciones a
//- 		| la medida con innovación y tecnología desde 1994.
//- 		<br> </br>
//- 		| Brindamos soluciones centradas en el cliente o
//- 		| usuario, Impulsamos a tu empresa a través del marketing
//- 		| digital y la tecnología.


//- .post
//- 	p 	Útimos posts
//- 	<br></br>
//- 	.date
//- 		span 11 Sept
//- 		<br> </br>
//- 		span 10 Jun
//- 	.description
//- 		span Lorem ipsum dolor sit amet, mea iusto omnium ea
//- 		<br> </br>
//- 		span Lorem ipsum dolor sit amet, mea iusto omnium ea
//- .visit
//- 	p Visítanos
//- 	<br> </br>
//- 	span
//- 		| Juan A Ingres #115 A1
//- 		br
//- 		| Col. Sta.María Nonoalco
//- 		br
//- 		| Del. Benito Juárez
//- 		br
//- 		| C.P. 03700
//- 		br
//- 		| México D.F.
//- 		br
//- 		| Tel: +52 (55) 6386 6420
//- .sociales

//- 	img(src="../static/img/youtube.svg")
//- 	img(src="../static/img/fb.svg")
//- 	img(src="../static/img/twitter.svg")
//- 	img(src="../static/img/linkedin.svg")
//- 	img(src="../static/img/g.svg")
//- 	<br></br>
//- 	p Etiquetas

//- 	span Tecnología

//- 	span Desarrollo

//- 	span Social Media
