
.about
	span(3/12)
	background-color: #4D4E4E
	display : inline-block
	border: red solid
	text-align : justify
	p
		text-align: center
		color: #59C6D4
		text-transform : uppercase
		font-family : 'Ubuntu', sans-serif
		font-size : 16px
	span
		color : white 	
		display : block
		margin :  0 auto
		width :  70%
		font-size : 14px
.visit
	span(3/12)
	background-color: #4D4E4E
	display : inline-block
	text-align : left
	height : 230px
	p 
		color: #59C6D4
		text-transform : uppercase
		text-align : center
		font-family : 'Ubuntu', sans-serif
		font-size : 16px
	span
		color : white
		display : block
		margin :  0 auto
		width :  70%
		font-size : 14px
.post
	span(3/12)
	background-color: #4D4E4E
	display : inline-block
	text-align : left
	height : 230px
	p 
		color: #59C6D4
		text-transform : uppercase
		text-align : center
		font-family : 'Ubuntu', sans-serif
		font-size : 16px
	span
		color : white
		display : block
		margin :  0 auto
		width :  70%
		font-size : 14px
		
.sociales
	span(3/12)
	background-color: #4D4E4E
	display : inline-block
	text-align : center
	height : 230px
	border-rigth: #59C6D4 solid 1px
	img
		width: 6%
		margin : 3% 4%
	p 
		color: #59C6D4
		text-transform : uppercase
		font-family : 'Ubuntu', sans-serif
		font-size : 16px
		
	span
		color : white
		display : block
		margin :  0 auto
		width :  70%
		font-size : 14px
		border-top: #59C6D4 solid 1px
		border-bottom: #59C6D4 solid 1px
		border-left: #59C6D4 solid 1px
		border-rigth: #59C6D4 solid 1px