#footer
	
	.about
		span(3/12)
		
		
		width: 25% !important
		background:red
		display : inline-block
	.visit
		span(3/12)
		
		width : 25% !important
		background:blue
		display : inline-block
	.post
		span(3/12)
		
		width : 25% !important
		background:gray
		display : inline-block
	.sociales
		span(3/12)
		
		width : 25% !important
		background:pink
		display : inline-block
