.content2
	span(12/12)
	background-color: #4D4E4E
	margin : 0 auto
	.about
		span(3/12)
		background-color: #4D4E4E
		display : inline-block
		border: red solid
		text-align : center
		p 
			color: #59C6D4
			text-transform : uppercase
			font-family : 'Ubuntu', sans-serif
			font-size : 16px
		span
			color : white
			display : block
			margin :  0 auto
			width :  70%
			font-size : 14px
	.visit
		span(3/12)
		background-color: #4D4E4E
		display : inline-block
		border: red solid
		text-align : left
		p 
			color: #59C6D4
			text-transform : uppercase
			text-align : center
			font-family : 'Ubuntu', sans-serif
			font-size : 16px
		span
			color : white
			display : block
			margin :  0 auto
			width :  70%
			font-size : 14px
	.post
		span(3/12)
		background-color: #4D4E4E
		display : inline-block
		border: red solid
		text-align : left
		p 
			color: #59C6D4
			text-transform : uppercase
			text-align : center
			font-family : 'Ubuntu', sans-serif
			font-size : 16px
		span
			color : white
			display : block
			margin :  0 auto
			width :  70%
			font-size : 14px
			
	.sociales
		span(3/12)
		background-color: #4D4E4E
		display : inline-block
		text-align : center
		
		img
			width: 6%
			margin : 7% 4%
		p 
			color: #59C6D4
			text-transform : uppercase
			font-family : 'Ubuntu', sans-serif
			font-size : 16px
			
		span
			color : white
			display : block
			margin :  0 auto
			width :  70%
			font-size : 14px