.content2
	.about
		p Acerca de GIK

		span Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor 
			| Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor 
			

	.post
		p 	Útimos posts

		span Lorem ipsum dolor Lorem ipsum dolor  Lorem ipsum dolor  	
			| Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor   
			| Lorem ipsum dolor 

	.visit
		p Visítanos

		span 
			| Juan A Ingres #115 A1
			br
			| Col. Sta.María Nonoalco
			br
			| Del. Benito Juárez
			br
			| C.P. 03700
			br
			| México D.F.
			br
			| Tel: +52 (55) 6386 6420
	.sociales

		img(src="../static/img/youtube.svg")
		img(src="../static/img/fb.svg")
		img(src="../static/img/twitter.svg")
		img(src="../static/img/linkedin.svg")
		img(src="../static/img/g.svg") 

		p Etiquetas

		span
			| Tecnología
			br
			| Desarrollo
			br
			| Social Media
	