@require 'common'

// Stylus' normalize.css (Nib)
normalize-css()
html,body
	background: deeppink

body > header
	background: lightgreen
	@require 'header/view'

body > footer
	@require 'footer/view'

body > main
	background: deepskyblue
	height: 1000em