@require 'common'

// Stylus' normalize.css (Nib)
normalize-css()

// TODO: these variables should be set automatically by fai.
$HREF_LOCAL = '/static/media/'
$HREF_MEDIA = 'http://storage.googleapis.com/gik-app/media/'

body > header
	@require 'header/view'

body > footer
	@require 'footer/view'