@require 'nib' 			// https://github.com/tj/nib

@require '.lib/common'	// Common mixins
@require '.lib/color'   // Colors generator
@require '.lib/font'    // Fonts generator


body > header
	@require '.lib/logobg/view'
	@require '.lib/sticky/view'
	@require 'header/view'

body > footer
	@import 'footer/view'

