doctype html
<!--[if lt IE 10]><html class="fallback" lang="es"><![endif]-->
<!--[if !IE]><!-->
html(lang="es", class=rootClasses)
	<!--<![endif]-->

	head
		meta(charset=ﬁ.conf.charset)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block ﬁ.meta

		title= (TITLE? TITLE + ' | ' : '') + (NAME || '')

		link(rel='shortcut icon', href= $HREF_MEDIA + 'favicon.ico')
		block ﬁ.link

	body

		#fallback
			include fallback/view

		header#header
			include header/view

		main#main
			include ../bundles/home/view

		footer#footer
			include footer/view

		include common/sticky/view

		script(src='/static/scripts/ga.js')
