// http://css-tricks.com/examples/ShapesOfCSS/
$logo-bg($height, $bg, $image, $margin=0.5rem)
	$width  = $height * 1.5

	display    : block
	overflow   : hidden
	position   : relative
	width      : ($width  + $margin)
	height     : ($height + $margin)
	background : transparent

	&:after
	&:before
		display  : block
		content  : " "
		overflow : hidden
		position : absolute
		top      : 0
		left     : 0

	// Logo
	&:after
		z-index             : 1
		width               : ($width  + $margin)
		height              : ($height + $margin)
		background-image    : $image
		background-size     : $width auto
		background-repeat   : no-repeat
		background-position : ($margin / 2) ($margin / 2)

	&:before
		z-index                    : 1
		width                      : 70%
		height                     : 100%
		margin-left                : -11%
		margin-top                 : -0%
		border-bottom-right-radius : 50%
		border-bottom-left-radius  : 50%
		bottom                     : 0
		background-color           : $bg