@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700|Roboto:400,300');

$font-primary =
	font-family: 'Roboto', sans-serif
	font-weight: 300

$font-secondary =
	font-family: 'Ubuntu', sans-serif
	font-weight: 400

$font-primary-bold =
	{$font-primary}
	font-weight: 400

$font-secondary-bold =
	{$font-secondary}
	font-weight: 700


body
	{$font-primary}
	font-size        : 100%
	font-smoothing   : antialiased
	font-size-adjust : auto
	text-size-adjust : 100%
	line-height      : 1.125em