// Responsive map
rupture.scale       =  0        25em      37.5em      50em      65.625em    87.5em
//                     └────┬────┘└────┬────┘└────┬────┘└────┬────┘└────┬────┘└────┬────┘
rupture.scale-names =    'mini'     'small'    'medium'   'normal'    'large'   'extra'
//                     ┌────┴────┐┌────┴────┐┌────┴────┐┌────┴────┐     └────┐┌────┘
//                     │       mobile       ││       tablet       │        desktop
//                     └ portrait landscape ┘└ portrait landscape ┘

@require 'color'        // Color variables generator
@require 'font'         // Font variables generator
@require 'sticky/view'  // Enable sticky elements' style.
