@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700|Khula:400,600');

$font-primary   = normal normal 400 1rem 'Montserrat', sans-serif
$font-secondary = normal normal 400 1rem 'Khula', sans-serif

$font-primary-bold   = normal normal 700 1rem 'Montserrat', sans-serif
$font-secondary-bold = normal normal 600 1rem 'Khula', sans-serif


