// TODO: Add this to FOUNDATION SASS

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
h1,h2,h3,h4,h5,h6,p
	font-family: 'icomoon','Montserrat','Helvetica Neue', Helvetica,Arial, sans-serif



//------------------------------
 @import 'styles/colors'
 @import 'styles/fuentes'
 
 

// fuente menu








body > header
	@import 'styles/header'
	
	

body > footer
	@import 'styles/footer'

body > #content
	padding-top: 1em

	& > #content-notice .alert-box
		text-align: center
.fi
	font-size      : 1.50em
	margin-right   : 0.25em
	margin-left    : -.25em
	vertical-align : sub
